<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes||FunnyBunny</title>
    <style>
        body{
            background-color: #eeeeee;
            font-family: 'Avenir';
        }
    </style>
</head>
<body>
    <div style="text-align: left;margin: 20px 50px;font-family: Futura;background-color: #eeb0bc;border-radius: 70px;padding: 50px;">
        {% for item in list %}   
        <div top={{item[1][0][2]}}>{{ item[0] }} </div>
        {% endfor %}
    </div>
</body>
</html>